@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Global colors =========== */
  --color-denim: 2 41 89; /* #022959 */
  --color-grey: 150 153 170; /* #9699aa */
  --color-purple: 72 62 255; /* #483eff */
  --color-very-light-grey: 247 248 255; /* #f7f8ff */
  --color-white: 255 255 255; /* #ffffff */
  --color-sky-blue: 190 226 253; /* #BEE2FD */
  --color-light-blue: 171 188 255; /* #ABBCFF */
  --color-background: 239 245 255; /* #EFF5FF */

  --color-primary: var(--color-denim);
  /* #endregion  /**======== Global colors =========== */
}

@layer base {
  body {
    @apply bg-background;
    min-height: 100vh;
  }

  .h0 {
    @apply font-primary text-xl font-bold;
  }

  h1,
  .h1 {
    @apply font-primary text-lg font-bold;
  }

  h2,
  .h2 {
    @apply font-primary text-lg;
  }

  h3,
  .h3 {
    @apply font-primary text-base;
  }

  body,
  .p {
    @apply font-primary text-base;
  }

  body {
    overflow-x: hidden;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    box-shadow: none;
  }
}
